/*
Theme Name: Quality Control Blue
/* --------------------------------------------- */

/** Default Links, Ticket List Title, Sidebar Hover */
a, #site-title, .ticket-list .ticket-title a, .submenu a:hover {
	color:#306DA1;
}

/** Ticket List Alt Background */
.panel {
	background-color:#f6f9ff;
}

/** Navigation Bar */
.tabber-navigation {
	background-color:#306DA1;
}

/** Input Border Focus */
#respond input:focus, #respond textarea:focus, #respond select:focus {
	border-color:#306DA1;
}