/*
Theme Name: Quality Control Gray
/* --------------------------------------------- */

/** Default Links, Ticket List Title, Sidebar Hover */
a, #site-title, .ticket-list .ticket-title a, .submenu a:hover, #respond legend, #respond label {
	color:#848484;
}

/** Ticket List Alt Background */
.panel {
	background-color:#f8f8f8;
}

/** Navigation Bar */
.tabber-navigation {
	background-color:#848484;
}

/** Input Border Focus */
#respond input:focus, #respond textarea:focus, #respond select:focus {
	border-color:#306DA1;
}

/** Respond Background */
#respond {
	background:#f7f7f7;
	border:1px solid #e3e3e3;
}

#respond label em {
	color:#b0b0b0;
}

#respond #ticket-create {
	background-color:#f7fff6;
	border-top:1px solid #e4f2d7;
}

#respond input[type=submit] {
	color:#FFF;
	background:#b2b2b2;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(102,102,102)),
		color-stop(1, rgb(178,178,178))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(102,102,102) 0%,
		rgb(178,178,178) 100%
	);
	border:1px solid #636363;
}

/** Input Border */

#respond input[type=text], #respond textarea, #respond select {
	border-color:#dddddd;
}

/** Input Border Focus */
#respond input:focus, #respond textarea:focus, #respond select:focus {
	border-color:#9a9a9a;
}