/*
Theme Name: Quality Control Green
/* --------------------------------------------- */

/** Default Links, Ticket List Title, Sidebar Hover */
a, #site-title, .ticket-list .ticket-title a, .submenu a:hover, #respond legend, #respond label {
	color:#879670;
}

/** Ticket List Alt Background */
.panel {
	background-color:#f7fff6;
}

/** Navigation Bar */
.tabber-navigation {
	background-color:#879670;
}

/** Respond Background */
#respond {
	background:#f7fdf2;
	border:1px solid #e4f2d7;
}

#respond label em {
	color:#abbb92;
}

#respond #ticket-create {
	background-color:#f7fff6;
	border-top:1px solid #e4f2d7;
}

#respond input[type=submit] {
	color:#243c0e;
	background:#4a5d39;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(119,177,67)),
		color-stop(1, rgb(180,237,131))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(119,177,67) 0%,
		rgb(180,237,131) 100%
	);
	border:1px solid #6a8b4c;
}

/** Input Border */

#respond input[type=text], #respond textarea, #respond select {
	border-color:#b2d2ab;
}

/** Input Border Focus */
#respond input:focus, #respond textarea:focus, #respond select:focus {
	border-color:#879670;
}