/*
Theme Name: Quality Control Red
/* --------------------------------------------- */

/** Default Links, Ticket List Title, Sidebar Hover */
a, #site-title, .ticket-list .ticket-title a, .submenu a:hover, #respond legend, #respond label {
	color:#d11515;
}

/** Ticket List Alt Background */
.panel {
	background-color:#fff7f7;
}

/** Navigation Bar */
.tabber-navigation {
	background-color:#695858;
}

/** Respond Background */
#respond {
	background:#ffe5e5;
	border:1px solid #efbbbb;
}

#respond label em {
	color:#ff5454;
}

#respond #ticket-create {
	background-color:#fff6f6;
	border-top:1px solid #efbbbb;
}

#respond input[type=submit] {
	color:#7a1414;
	background:#f08e8e;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(189,46,46)),
		color-stop(1, rgb(255,136,136))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(189,46,46) 0%,
		rgb(255,136,136) 100%
	);
	border:1px solid #7a1414;
}

/** Input Border */

#respond input[type=text], #respond textarea, #respond select {
	border-color:#ff9797;
}

/** Input Border Focus */
#respond input:focus, #respond textarea:focus, #respond select:focus {
	border-color:#ff5454;
}