#toplevel_page_app-dashboard div.wp-menu-image,
#adminmenu #menu-posts-ticket.menu-icon-post div.wp-menu-image,
#adminmenu #menu-posts-changeset.menu-icon-post div.wp-menu-image {
	background-image: url('../../images/admin-menu.png');
}

/* QC Dashboard */
#toplevel_page_app-dashboard div.wp-menu-image img {
	display: none;
}

#toplevel_page_app-dashboard div.wp-menu-image {
	background-position: 0 -33px;
}

#toplevel_page_app-dashboard:hover div.wp-menu-image,
#toplevel_page_app-dashboard.wp-has-current-submenu div.wp-menu-image {
	background-position: 0 -1px;
}

/* Tickets */
#adminmenu #menu-posts-ticket.menu-icon-post div.wp-menu-image {
	background-position: -30px -33px !important;
}

#adminmenu #menu-posts-ticket.menu-icon-post:hover div.wp-menu-image,
#adminmenu #menu-posts-ticket.menu-icon-post.wp-has-current-submenu div.wp-menu-image {
	background-position: -30px -1px !important;
}

/* Changesets */
#adminmenu #menu-posts-changeset.menu-icon-post div.wp-menu-image {
	background-position: -60px -33px !important;
}

#adminmenu #menu-posts-changeset.menu-icon-post:hover div.wp-menu-image,
#adminmenu #menu-posts-changeset.menu-icon-post.wp-has-current-submenu div.wp-menu-image {
	background-position: -60px -1px !important;
}

/* State colors table */
#state-colors {
	width: auto;
}

#state-colors th {
	padding: 7px 7px 8px;
}

#state-colors td {
	padding: 4px 7px 2px;
}

